div {
  text-align: center;
}

h1 {
  font-size: 10em;
  color: #b9b9b9;
  padding: 70px;
}

p:first-of-type {
  font-size: 3em;
  color: #b9b9b9;
  padding: 10px;
}

a {
  font-size: 1.4em;
  color: palevioletred;
  text-decoration: none;
}

a:hover {
  color: pink;
}