<mat-toolbar color="primary">
  <div class="container">
    <a routerLink="/" class="logo">Milk In Minutes</a>
    <nav>
      <ul>
        <li>
          <a routerLink="/dairy-products-requests" mat-button>Requested Orders</a>
        </li>
        <li *ngIf="!isLoggedIn; else logoutButton">
          <a routerLink="/login" mat-button>Login</a>
        </li>
        <ng-template #logoutButton>
          <li><button mat-button (click)="logout()">Logout</button></li>
        </ng-template>
      </ul>
    </nav>
  </div>
</mat-toolbar>