.footer-container {
  background-color: #1b1c20;
  color: #fff;
  font-size: 1rem;
  padding: 1.4rem 4rem;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  /* position: absolute;
  bottom: 0px;
  left: 0px; */
}

.social-links {
  display: flex;
  gap: 1.5rem;
  color: #fff;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #ccc;
}

.legal-links {
  display: flex;
  gap: 1rem;
  text-decoration: none;
  transition: color 0.3s ease;
}
