<mat-toolbar class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="copyright">
        <span>&copy;2024 Milk In Minutes. All rights reserved.</span>
      </div>
      <div class="social-links">
        <a href="https://www.facebook.com/" target="_blank">
          <i class="bi bi-facebook text-white"></i>
        </a>
        <a href="https://twitter.com/" target="_blank">
          <i class="bi bi-twitter text-white"></i>
        </a>
        <a href="https://www.instagram.com/" target="_blank">
          <i class="bi bi-instagram text-white"></i>
        </a>
        <a href="https://www.linkedin.com/" target="_blank">
          <i class="bi bi-linkedin text-white"></i>
        </a>
      </div>
      <div class="legal-links">
        <a mat-button >Privacy Policy</a>
        <a mat-button >Terms of Service</a>
        <a mat-button >Contact Us</a>
      </div>
    </div>
  </div>
</mat-toolbar>