.container {
  min-height: 87vh;
  max-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 500;
  color: #5263c1;
  background-color: aliceblue;
  padding: 10px;
  box-shadow: 0px 0px 40px aliceblue;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(200px, 1fr));
  grid-gap: 3rem;
}

.product-card {
  display: flex;
  flex-direction: column;
  position: relative;
}

.product-img {
  height: 28vh;
  object-fit: cover;
}

h3 {
  font-weight: 500;
}

.search-filter {
  display: flex;
  justify-content: right;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.search-filter mat-form-field {
  margin-left: 1.4rem;
}

button {
  position: absolute;
  bottom: 10px;
}