.container {
  min-height: 82.44vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  min-height: 40vh;
  min-width: 25vw;
  padding: 20px;
}

h2 {
  padding-left: 10px;
  color: #4b4b4b;
}

form {
  display: flex;
  flex-direction: column;
  align-items: start;
}

mat-form-field {
  width: 100%;
}

button {
  margin-top: 10px;
}